<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Climatic-data-from-kaggle" data-toc-modified-id="Climatic-data-from-kaggle-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Climatic data from kaggle</a></span></li><li><span><a href="#Import-data" data-toc-modified-id="Import-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import data</a></span></li><li><span><a href="#Exploring-the-dataset" data-toc-modified-id="Exploring-the-dataset-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Exploring the dataset</a></span><ul class="toc-item"><li><span><a href="#Loking-for-NaN" data-toc-modified-id="Loking-for-NaN-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Loking for NaN</a></span><ul class="toc-item"><li><span><a href="#NaN-along-rows" data-toc-modified-id="NaN-along-rows-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>NaN along rows</a></span></li><li><span><a href="#NaN-along-columns" data-toc-modified-id="NaN-along-columns-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>NaN along columns</a></span></li></ul></li><li><span><a href="#Cleaning-the-data-set" data-toc-modified-id="Cleaning-the-data-set-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Cleaning the data set</a></span><ul class="toc-item"><li><span><a href="#Remove-the-repetitive-first-columns" data-toc-modified-id="Remove-the-repetitive-first-columns-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Remove the repetitive first columns</a></span></li><li><span><a href="#Get-Year-and-Months" data-toc-modified-id="Get-Year-and-Months-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Get Year and Months</a></span></li></ul></li><li><span><a href="#Some-statistics" data-toc-modified-id="Some-statistics-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Some statistics</a></span></li></ul></li></ul></div>

In [1]:
import sys
sys.path.append('../')

In [2]:
import pandas as pd
import src.functions_pipeline as fp
import src.import_kaggle_data as kd
from datetime import datetime

## Climatic data from kaggle

To complement the information on the species I will use information on the air temperature of the last 40 years. This database is taken from www.kaggle.com.

[Daily_Temperature_Of_Major_Cities](https://www.kaggle.com/sudalairajkumar/daily-temperature-of-major-cities)

## Import data

In [ ]:
kd.download_dataset()

In [3]:
df = pd.read_csv("../Data/daily_temperature.csv",encoding = "ISO-8859-1", sep=';')

/home/anagarcia/anaconda3/envs/ironhack/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df[:15]

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,990,991,992,993,994,995,996,997,998,999
0,city,Tokyo,New York,Mexico City,Mumbai,SÃ£o Paulo,Delhi,Shanghai,Kolkata,Los Angeles,...,BilÄspur,Sargodha,Leipzig,Tinnevelly,CancÃºn,Yangzhou,Novokuznetsk,Latakia,Heroica Matamoros,GÃ¶teborg
1,city_ascii,Tokyo,New York,Mexico City,Mumbai,Sao Paulo,Delhi,Shanghai,Kolkata,Los Angeles,...,Bilaspur,Sargodha,Leipzig,Tinnevelly,Cancun,Yangzhou,Novokuznetsk,Latakia,Heroica Matamoros,Goteborg
2,lat,35.685,406.943,194.424,19.017,-235.587,28.67,312.165,22.495,341.139,...,220.904,320.854,513.354,87.304,21.17,32.4,53.75,35.54,25.88,57.75
3,lng,1.397.514,-739.249,-99.131,72.857,-46.625,77.23,1.214.365,883.247,-1.184.068,...,82.16,72.675,12.41,77.69,-86.83,119.43,87.115,35.78,-97.5,12.0
4,country,Japan,United States,Mexico,India,Brazil,India,China,India,United States,...,India,Pakistan,Germany,India,Mexico,China,Russia,Syria,Mexico,Sweden
5,iso2,JP,US,MX,IN,BR,IN,CN,IN,US,...,IN,PK,DE,IN,MX,CN,RU,SY,MX,SE
6,iso3,JPN,USA,MEX,IND,BRA,IND,CHN,IND,USA,...,IND,PAK,DEU,IND,MEX,CHN,RUS,SYR,MEX,SWE
7,admin_name,TÅkyÅ,New York,Ciudad de MÃ©xico,MahÄrÄshtra,SÃ£o Paulo,Delhi,Shanghai,West Bengal,California,...,ChhattÄ«sgarh,Punjab,Saxony,Tamil NÄdu,Quintana Roo,Jiangsu,Kemerovskaya Oblastâ,Al LÄdhiqÄ«yah,Tamaulipas,VÃ¤stra GÃ¶taland
8,capital,primary,NaN,primary,admin,admin,admin,admin,admin,NaN,...,NaN,minor,minor,NaN,minor,NaN,NaN,admin,minor,admin
9,population,35676000.0,19354922.0,19028000.0,18978000.0,18845000.0,15926000.0,14987000.0,14787000.0,12815475.0,...,543454.0,542603.0,542529.0,542200.0,542043.0,539715.0,539616.0,539147.0,538785.0,537797.0
10,id,1392685764,1840034016,1484247881,1356226629,1076532519,1356872604,1156073548,1356060520,1840020491,...,1356820491,1586696588,1276563678,1356037155,1484010310,1156818601,1643628717,1760555544,1484614906,1752059374
11,datetime,0,1,2,3,4,5,6,7,8,...,990,991,992,993,994,995,996,997,998,999
12,01/01/1980,4.16,1.48,11.35,23.4,17.86,13.74,9.1,20.47,14.24,...,22.14,11.54,0.67,24.05,21.21,3.71,-13.88,11.68,17.67,-0.82
13,02/01/1980,4.06,1.0,10.01,22.67,18.65,12.85,6.4,19.37,13.77,...,22.26,11.13,-0.88,24.19,23.29,3.26,-15.05,13.71,17.7,-5.25
14,03/01/1980,7.12,-3.23,9.67,22.3,18.42,10.5,5.43,18.71,12.08,...,21.09,10.28,-4.3,24.39,24.04,2.17,-14.19,13.0,11.19,-13.0

## Exploring the dataset

In [5]:
df.shape

(14896, 1001)

In [6]:
df.dtypes

Unnamed: 0    object
0             object
1             object
2             object
3             object
               ...
995           object
996           object
997           object
998           object
999           object
Length: 1001, dtype: object

### Loking for NaN

The first thing I want to do is to evaluate the number of NaN I have in the rows and columns to see if I should remove any of them because they have too many NaN.

#### NaN along rows

In [7]:
null_rows = df.isnull().sum(axis = 1).apply (lambda y: y/df.shape[1]).sort_values(ascending = False)
null_rows[:5]

8       0.258741
7       0.017982
9       0.004995
5       0.000999
9929    0.000000
dtype: float64

The row 8 presents lowest percentage of NaN  with a 0.25%, so I will decide to leave it. 9929 (0.66 %) rows have all the data.

#### NaN along columns

In [8]:
null_col = df.isnull().sum().apply(lambda x: x/df.shape[0]).sort_values(ascending=False)
null_col[:5]

600    0.000134
32     0.000134
959    0.000134
601    0.000134
844    0.000067
dtype: float64

Overall, all columns are complete, so I won't delete any

### Cleaning the data set

#### Remove the repetitive first columns

The first 11 rows have repeated information about the countries. I will leave only one, which I will also move to the top of the table. **I'll keep row 2 (with nidex 1) for the DataFrame header**

In [9]:
def get_header(df, iloc):
    '''
    Convert given row to column header for Pandas DataFrame
    
    Args:
        data(pd.DataFrame): working dataframe
        iloc(int): the iloc of the column we want to make heading
        
    Return:
        pd.DataFrame with the new heading determined
    '''
    headers = df.iloc[iloc] 
    df = pd.DataFrame(df.values[1:], columns=headers)
    df.columns = df.iloc[0, :]
    return df

In [10]:
df = get_header(df, 1)

In [11]:
df[:5]

,city_ascii,Tokyo,New York,Mexico City,Mumbai,Sao Paulo,Delhi,Shanghai,Kolkata,Los Angeles,...,Bilaspur,Sargodha,Leipzig,Tinnevelly,Cancun,Yangzhou,Novokuznetsk,Latakia,Heroica Matamoros,Goteborg
0,city_ascii,Tokyo,New York,Mexico City,Mumbai,Sao Paulo,Delhi,Shanghai,Kolkata,Los Angeles,...,Bilaspur,Sargodha,Leipzig,Tinnevelly,Cancun,Yangzhou,Novokuznetsk,Latakia,Heroica Matamoros,Goteborg
1,lat,35.685,406.943,194.424,19.017,-235.587,28.67,312.165,22.495,341.139,...,220.904,320.854,513.354,87.304,21.17,32.4,53.75,35.54,25.88,57.75
2,lng,1.397.514,-739.249,-99.131,72.857,-46.625,77.23,1.214.365,883.247,-1.184.068,...,82.16,72.675,12.41,77.69,-86.83,119.43,87.115,35.78,-97.5,12.0
3,country,Japan,United States,Mexico,India,Brazil,India,China,India,United States,...,India,Pakistan,Germany,India,Mexico,China,Russia,Syria,Mexico,Sweden
4,iso2,JP,US,MX,IN,BR,IN,CN,IN,US,...,IN,PK,DE,IN,MX,CN,RU,SY,MX,SE

In [ ]:
df = fp.get_iloc(df)

In [ ]:
df

In [ ]:
df = fp.remove_rows(df)

In [ ]:
df[:5]

In [ ]:
df = fp.rename_columns(df, 'city_ascii', 'Date')
df

#### Get Year and Months

In [ ]:
df = fp.get_month_year(df, 'Date')

In [ ]:
df[:5]

In [ ]:
df.to_csv("Temperature_Dataset.csv")

### Some statistics

In this pipeline I wl work with Spanish species, then te first step is select only this spanish cities.

In [ ]:
df_spain = df[['Year', 'Month', 'Madrid', 'Barcelona', 'Malaga', 'Sevilla', 'Zaragoza', 'Valencia','Bilbao']]
df_spain.to_csv("Temperature_Spain2.csv")

In [ ]:
df_spain = pd.read_csv("Temperature_Spain2.csv")
df_spain[:5]

In [ ]:
df_spain = df_spain.drop(['Barcelona.1', 'Valencia', 'Unnamed: 0'], axis = 1)

In [ ]:
df_year = fp.mean_year(df_spain, 'Year')
df_month = fp.mean_month(df_spain, 'Month')

In [ ]:
df_year.to_csv("Temperature_Spain_year2.csv")
df_month.to_csv("Temperature_Spain_month2.csv")