In [ ]:
import pandas as pd
from datetime import datetime

## Climatic data from kaggle

To complement the information on the species I will use information on the air temperature of the last 40 years. This database is taken from www.kaggle.com.

[Daily_Temperature_Of_Major_Cities](https://www.kaggle.com/sudalairajkumar/daily-temperature-of-major-cities)

## Import data

In [ ]:
df = pd.read_csv("/mnt/c/Users/agarc/Bootcamp_IronHack/Proyectos/P2_Kaggle-API/P2_Kaggle_API/Data/daily_temperature.csv",encoding = "ISO-8859-1", sep=';')

In [ ]:
df[:15]

### Exploring the dataset

In [ ]:
df.shape

In [ ]:
df.dtypes

#### Loking for NaN

##### NaN along rows

In [ ]:
null_rows = df.isnull().sum(axis = 1).apply (lambda y: y/df.shape[1]).sort_values(ascending = False)
null_rows[:5]

The row with the lowest percentage of NaN is 8 with a 0.25%, so I will decide to leave it. 9929 (0.66 %) rows have all the data.

##### NaN along columns

In [ ]:
null_col = df.isnull().sum().apply(lambda x: x/df.shape[0]).sort_values(ascending=False)
null_col[:5]

Overall, all columns are complete, so I won't delete any

### Cleaning the data set

#### Remove the repetitive first columns

The first XXX four rows have repeated information about the countries. I will leave only one, which I will also move to the top of the table. **I'll keep row 2 for the DataFrame header**

In [ ]:
def get_header(data, iloc):
    '''
    Convert row to column header for Pandas DataFrame
    
    Args:
        data(pd.DataFrame): working dataframe
        iloc(int): the iloc of the column we want to make heading
        
    Return:
        new pd.DataFrame with the new heading determined
    '''
    headers = df.iloc[iloc]    
    return pd.DataFrame(data.values[1:], columns=headers)

In [ ]:
df = get_header(df, 1)

In [ ]:
df[:15]

In [ ]:
def get_iloc(data):
    data.columns = data.iloc[0, :]
    return data

In [ ]:
df = get_iloc(df)

In [ ]:
def remove_rows(data):
    return data.drop(data.index[0:11], axis = 0)

In [ ]:
df = remove_rows(df)

In [ ]:
df[:15]

In [ ]:
df = df.rename({'city_ascii':'Date'}, axis=1)

#### Get Year and Months

In [ ]:
def get_month_year(data, col):
    df[col] = pd.to_datetime(df[col], format='%d/%m/%Y')
    df['Year'] = pd.DatetimeIndex(df[col]).year
    df['Month'] = pd.DatetimeIndex(df[col]).month
    
    return df

In [ ]:
df = get_month_year(df, 'Date')

In [ ]:
df.to_csv("Dataset.csv")

### Some statistics

In [ ]:
df_spain = df[['Year', 'Month', 'Madrid', 'Barcelona', 'Malaga', 'Sevilla', 'Zaragoza', 'Valencia', 'Cartagena','Bilbao', 'Santiago']]

In [ ]:
df_spain

In [ ]:
df_spain.groupby('Year').mean()

In [ ]:
def mean_year(data, col):
    data = data.groupby([col]).mean()
    
    return data

In [ ]:
mean_year(df_spain, 'Year')

In [ ]:
df_mean_month = df_spain_st.groupby(['Month']).mean()

In [ ]:
df_mean_month