In [1]:
import pygbif
from pygbif import occurrences as occ
from pygbif import species

import requests

In [2]:
url = 'http://api.gbif.org/v1/species/match?verbose=true&name='
data = requests.get(url)
data.status_code

200

In [3]:
splist = ['Cyanocitta stelleri', 'Junco hyemalis', 'Aix sponsa',
'Ursus americanus', 'Pinus conorta', 'Poa annuus']
keys = [ species.name_backbone(x)['usageKey'] for x in splist ]

In [4]:
out = [ occ.search(taxonKey = x, limit=0)['count'] for x in keys ]

In [5]:
out

[1239311, 6404130, 2221239, 19518, 18299, 2774922]

In [6]:
d = {1: 'a', 2: 'b', 3: 'c'}

In [11]:
for key, values in d.items():
    d[key] =  values*2
    
d

{1: 'aaaa', 2: 'bbbb', 3: 'cccc'}

In [14]:

lista = [1,2,3,4,5]

In [15]:
def myFun(lista, **kwargs):  
    for x in lista:
        x*2
    for key, value in kwargs.items(): 
        print ("%s == %s" %(key, x))

In [21]:
# Driver code 
myFun(lista, Y16 = 2016, Y15 =2016, Y11 =2016, Y13 = 2016)

Y16 == 2016
Y15 == 2016
Y11 == 2016
Y13 == 2016

In [22]:
x = range(1990, 2015)

In [25]:
list(x)

[1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014]

In [99]:
import pandas as pd
from datetime import datetime
df = pd.DataFrame(data = ('01/01/1980', '02/12/1980'))
stri = '01/01/1980'

In [100]:
date_dt2 = datetime.strptime(stri, '%d/%m/%Y')

In [101]:
print(date_dt2)

1980-01-01 00:00:00

In [102]:
df

            0
0  01/01/1980
1  02/12/1980

In [103]:
df[0] = pd.to_datetime(df[0], format='%d/%m/%Y')
df

           0
0 1980-01-01
1 1980-12-02

In [104]:
df['year'] = pd.DatetimeIndex(df[0]).year
df['month'] = pd.DatetimeIndex(df[0]).month

In [105]:
df

           0  year  month
0 1980-01-01  1980      1
1 1980-12-02  1980     12